// В этом файле должны быть стили для БЭМ-блока contact-shops, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.contact-shops {

  $block-name:                &; // #{$block-name}__element

  &__list {
    @include row;
  }

  &__item {
    @include col();
    @include col(lg, 4);
    @include col(md, 6);
    margin-bottom: 20px;
  }

  &__card {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.1);
    padding: 5px 15px 15px 15px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0 0 25px 0;

      li {
        margin-bottom: 15px;

        .fas {
          color: #545454;
          margin-right: 6px;
        }
      }
    }
  }

  &--map {

    #{$block-name}__item {
      @include col(lg, 12);
    }

    #{$block-name}__card {

      padding: 15px;

      @media (min-width: $screen-lg) {
        display: flex;
        flex-wrap: wrap;
      }

      ul {
        margin-right: 20px;
        width: 345px;
        flex-shrink: 0;
      }

      .card-map {
        border-radius: 5px;
        box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.1);
        background: #ccc;
        flex-grow: 1;
        overflow: hidden;
      }
    }
  }
}
