// В этом файле должны быть стили для БЭМ-блока shop-description, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.shop-description {

  $block-name:                &; // #{$block-name}__element

  display: flex;

  &__caption {
    flex-grow: 1;
  }

  &__img-wrap {
    flex-shrink: 0;
    padding: 0 40px;
  }

}
