// В этом файле должны быть стили для БЭМ-блока shops-list, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.shops-list {

  $block-name:                &; // #{$block-name}__element

  counter-reset: shops-list-counter;

  &__item {
    margin-bottom: 15px;

    .shops-card__counter {
      &:before {
        counter-increment: shops-list-counter;
        content: counter(shops-list-counter);
      }
    }
  }

}