// В этом файле должны быть стили для БЭМ-блока btn-group-toggle, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.btn-group-toggle {

  $block-name:                &; // #{$block-name}__element

  display: flex;

  .btn {
    position: relative;
    padding: 0.6em 0.8em;
    flex-grow: 1;
    flex-basis: 50%;

    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    input[type=radio],
    input[type=checkbox] {
      position: absolute;
      clip: rect(0,0,0,0);
      pointer-events: none;
    }
  }
}
