// В этом файле должны быть стили для БЭМ-блока menu, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$text-color:                  hsl(0, 0%, 10%) !default;

$border-color:                hsl(0, 0%, 60%) !default;

.menu {

  $block-name:                &; // #{$block-name}__element

  min-width: 10em;
  margin: 0;
  padding: 0.3em 0;
  list-style: none;

  padding-top: 40px;
  margin-top: 20px;
  border-top: 2px solid #e8e8e8;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid #e8e8e8;

  &__item {

    &--separator {

      &:not(:last-child) {
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 2px solid #e8e8e8;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-transform: uppercase;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 600;
    padding: 0.6em 0;
    color: $text-color;
    text-decoration: none;
    min-height: 45px;
    transition: all $transition-time;

    .icon {
      margin-right: 10px;
    }

    &:hover,
    &:focus {
      color: #ff2809;

      .icon-shop {
        @include sprite($icon-shop-hover);
      }
      .icon-search {
        @include sprite($icon-search-hover);
      }
      .icon-map {
        @include sprite($icon-map-hover);
      }
      .icon-star {
        @include sprite($icon-star-hover);
      }
      .icon-entrance {
        @include sprite($icon-entrance-hover);
      }
    }
  }
}
