// В этом файле должны быть стили для БЭМ-блока to-top, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, $media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.to-top {

  $block-name:                &; // #{$block-name}__element

  position: fixed;
  right: 15px;
  bottom: 1rem;
  z-index: 1;
  width: 34px;
  height: 32px;
  border-radius: 5px;
  background-color: #959595;
  color: #fff;
  font-size: 18px;
  transition: background-color 0.3s;

  // @media (min-width: 1439px) {
  //   left: calc(50% + 620px);
  // }

  @media (min-width: $screen-md) {
    width: 58px;
    height: 53px;
    font-size: 24px;
  }

  .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    background-color: darken(#959595, 10%);
    color: #fff;
  }

  .js & {
    display: none;
  }
}
